.sales-sumary-container {
   display: flex;
   width: 440px;
   flex-wrap: wrap;
   justify-content: space-between;
}

.sales-summary-card {
   width: 200px;
   height: 200px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.sales-summary-card-value {
   color: var(--white-color);
   font-size: 24px;
   margin-top: 20px;
   margin-bottom: 5px;
}

.sales-summary-card-label {
   color: var(--grey-light-125-color);
   font-size: 18px;
}

/*Aplica o css nos dois primeiros elementos*/
.sales-summary-card:nth-of-type(1),
.sales-summary-card:nth-of-type(2) {
   margin-bottom: 45px;
}
