.filter-container {
   margin-top: 30px;
   margin-bottom: 40px;
   height: 80px;
   display: flex;
   align-items: center;
   padding-left: 30px;
}

.filter-input {
   height: 45px;
   font-size: 16px;
   background-color: var(--secundary-color);
   color: var(--grey-light-50-color);
   border: 1px solid var(--grey-light-150-color);
   border-radius: 10px;
   width: 250px;
   padding: 12px 5px 12px 20px;
}

.filter-input:first-of-type {
   margin-right: 55px;
}

.filter-input::-moz-placeholder {
   color: var(--grey-light-50-color);
   font-size: 16px;
}
