.sales-table-container {
   margin-bottom: 50px;
   padding: 30px 35px;
}

.sales-table-title {
   font-size: 18px;
   color: var(--light-color);
}

.sales-table {
   width: 100%;
   margin-top: 30px;
   border-spacing: 0;
}

.sales-table thead th {
   text-align: left;
   height: 55px;
}

.sales-table tbody td {
   height: 55px;
   border-top: 1px solid var(--grey-light-125-color);
   font-size: 18px;
   transition: background 0.3s;
}

.sales-table tbody tr:hover > td {
   background-color: var(--grey-light-150-color);
}

/*Altera o funda das linhas Pares*/
.sales-table tbody tr:nth-child(even) {
   background-color: var(--primary-color);
}

/*Altera o funda das linhas Impares*/
.sales-table tbody tr:nth-child(odd) {
   background-color: rgba(0, 0, 0, 0.1);
}
