* {
   box-sizing: border-box;
}

:root {
   --primary-color: #283141;
   --secundary-color: #1b2531;
   --light-color: #e9e9e9;
   --grey-light-50-color: #9aaabe;
   --grey-light-100-color: #949494;
   --grey-light-125-color: #72849a;
   --grey-light-150-color: #384459;
   --green-color: #08b976;
   --white-color: #fff;
}

body {
   margin: 0;
   font-family: 'Roboto', sans-serif;
   background-color: var(--secundary-color);
   color: var(--light-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
}

.base-card {
   background-color: var(--primary-color);
   border-radius: 10px;
}
